In [3]:
import pandas as pd
data = pd.read_csv("../data_man/data_pre.csv")
data = data.drop(["Unnamed: 0"], axis=1)
data.head()

,Survived,Pclass,Female,Male,Age,SibSp,Parch,Fare,S,Q,C
0,0.0,1.0,0.0,1.0,0.271174,0.125,0.0,0.014151,1.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.472229,0.125,0.0,0.139136,0.0,0.0,1.0
2,1.0,1.0,1.0,0.0,0.321438,0.000,0.0,0.015469,1.0,0.0,0.0
3,1.0,0.0,1.0,0.0,0.434531,0.125,0.0,0.103644,1.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.434531,0.000,0.0,0.015713,1.0,0.0,0.0

In [4]:
from sklearn.model_selection import train_test_split
X, Y = data.drop(["Survived"], axis=1), data["Survived"]
x, x_test, y, y_test = train_test_split(X,Y,test_size=0.2,train_size=0.8)
x_train, x_cv, y_train, y_cv = train_test_split(x,y,test_size = 0.25,train_size =0.75)

# Linear Classifier Model

In [5]:
from sklearn.linear_model import RidgeClassifier
regr = RidgeClassifier()

In [6]:
regr.fit(x_train,y_train)
regr.score(x_cv,y_cv)

0.8651685393258427

In [7]:
regr.fit(x,y)
regr.score(x_test,y_test)

0.7932960893854749

# MLP Classifier

In [8]:
from sklearn.neural_network import MLPClassifier
perf = []
for i in range(1,100):
    mlp_class = MLPClassifier(hidden_layer_sizes=(10,i*2,i*4), max_iter=1000)
    mlp_class.fit(x_train, y_train)
    perf.append((mlp_class.score(x_cv,y_cv),i))
max(perf)

In [9]:
mlp_class = MLPClassifier(hidden_layer_sizes=(10,62*2,62*4), max_iter=1000)
mlp_class.fit(X, Y)
mlp_class.score(x_test, y_test)

0.8603351955307262

# Using Better Model for Predictions on test dataset

In [10]:
pred_data = pd.read_csv("../data_man/pred_data.csv")
pred_data = pred_data.drop(["Unnamed: 0"], axis=1)
pred_data.head()

   Pclass  Female  Male       Age  SibSp     Parch      Fare    S    Q    C
0     1.0     0.0   1.0  0.452723  0.000  0.000000  0.015282  0.0  1.0  0.0
1     1.0     1.0   0.0  0.617566  0.125  0.000000  0.013663  1.0  0.0  0.0
2     0.5     0.0   1.0  0.815377  0.000  0.000000  0.018909  0.0  1.0  0.0
3     1.0     0.0   1.0  0.353818  0.000  0.000000  0.016908  1.0  0.0  0.0
4     1.0     1.0   0.0  0.287881  0.125  0.111111  0.023984  1.0  0.0  0.0

In [11]:
pred_data.isnull().values.any()

False

In [12]:
pred = mlp_class.predict(pred_data)

In [13]:
print(list(pred))
final = []
pred_csv = pd.read_csv("../data_man/predictions.csv")
pred_csv = pred_csv.drop(["Unnamed: 0"], axis=1)
for i in range(len(list(pred))):
    final.append(int(pred[i]))
pred_csv.insert(1, "Survived", final, True)
pred_csv.to_csv("pred.csv",index=False)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0]